<!-- FIRST SHOW BRANDS TO CHOOSE FROM AND SELECT -->
<div *ngIf="!selectedBrand" class="select-brands flex-container">

    <mat-card *ngFor="let brand of phones | keyvalue" (click)="selectBrand(brand.key)">
        <mat-card-content>
            <span>{{brand.key}}</span>
        </mat-card-content>
    </mat-card>
</div>

<!-- ONCE BRAND SELECTED - SHOW PHONES TO CHOOSE FROM TO SELECT -->
<div *ngIf="selectedBrand" class="select-phones flex-container">

    <button type="button" color="primary" aria-label="Navigate to previous screen" mat-icon-button (click)="selectedBrand = null">
        <mat-icon aria-label="Go back icon">chevron_left</mat-icon>
    </button>

    <mat-card *ngFor="let phone of phones[selectedBrand]" [routerLink]="['phones', phone]">
        <mat-card-content>
            <span>{{phone}}</span>
        </mat-card-content>
    </mat-card>

</div>
